<mat-toolbar color="primary">
<mat-toolbar-row class="topNavRow">
  <span><button class="font-extrabold" routerLink="/">DAMN-CODE</button></span>
  <span class="example-spacer"></span>
  <span routerLink="/"><button mat-button color="accent">Home</button></span>
  <span routerLink="/services"><button mat-button color="accent">Services</button></span>
  <span routerLink="/contact"><button mat-button color="accent">Contact Us</button></span>
  <span routerLink="/team"><button mat-button color="accent">Team</button></span>
  <span routerLink="/signup" *ngIf="!userIsAuthenticted"><button mat-raised-button color="warn">SignUp</button></span>
  <span><button mat-raised-button color="primary" (click)="onLogout()" *ngIf="userIsAuthenticted">Logout</button></span>
</mat-toolbar-row>
<mat-toolbar-row class="bottomNav" fxLayout="row-reverse">
  <span><button mat-raised-button color="accent" routerLink="/freelancers">Freelancers</button></span>
  <span><button mat-raised-button color="accent" routerLink="/quiz">Quiz</button></span>
  <span><button mat-raised-button color="accent" routerLink="/ranklist">Code Masters</button></span>
  <span><button mat-raised-button color="accent" routerLink="/roadmap">RoadMap</button></span>
  <span><button mat-raised-button color="accent" routerLink="/events">Upcomming Events</button></span>
  <span><button mat-raised-button color="accent" routerLink="/communities">Communities</button></span>
  <span><button mat-raised-button color="accent" routerLink="/references">Best Tutorial References</button></span>
</mat-toolbar-row>

</mat-toolbar>