<div class="login-wrapper">
    <mat-card class="box"  fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form class="example-form" (submit)="onAddUser(userForm)" #userForm="ngForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input 
            matInput 
            type="text"
            placeholder="Full Name" 
            name="name"
            ngModel
            #name="ngModel"
            required
             />
             <mat-error *ngIf="name.invalid">Please Enter a valid Name</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input 
            matInput 
            type="number"
            placeholder="Mobile"
            name="mobile"
            ngModel
            #mobileInput="ngModel"
            required
            minlength="6"
             />
             <mat-error *ngIf="mobileInput.invalid">Please Enter a valid mobile</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input 
            matInput 
            type="password"
            name="password"
            ngModel
            required
            minlength="6"
            />
            <mat-error *ngIf="name.invalid">Please enter a Strong password</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button
          mat-raised-button color="primary"
          type="submit"
        >
          Submit
        </button>
      </form>
    </mat-card>
  </div>
  